/* Principales */
:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --oscuro: #212121;
    --primario: #FFC107;
    /* --Primario: #784D3C; */
    --gris: #e1e1e1;
    --Blanco: #ffffff;
    --Negro: #000000;
    --grisclaro: #E5E8E8;
    --grisOcsuro: #85929E;
    --AzulClaro: #1BBAE8;
    --AzulOscuro:#1F618D;
    --Rojo:#E74C3C;
    --fuente: 'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after{
 box-sizing: inherit;   
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
/* Globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 5.0rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
/* utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/* header */
.header{
    background-image: url(../img/TiendaV.png);
    height: 60rem;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.header__texto{
    text-align: center;
    color: var(--Blanco);
    margin-top: 5rem;
}
/* Responsive Texto Header */
@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}
/* Estilo barra de menu*/
.barra{
    padding-top: 1rem;
}

/* Responsive Estilo barra de menu*/
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;/*elemento al lado derecho e izquierdo*/
        align-items: center;/*alinear verticalmente*/
    }
}
/* Estilo Titulo Mi Blog */
.logo{
    color: var(--Negro);
    
}
.logo__nombre{
    font-weight: 400;
    color: var(--Negro);
    transition-duration: 0.2s;
}

.logo__nombre:hover {
    color: var(--Rojo);
    text-decoration: none;
  }

.logo__bold{
    font-weight: 700;
    color: var(--AzulOscuro)
}
.logo__boldtitulo{
    font-weight: 700;
    color: var(--Rojo)
}
.nav-bg{
    background-color: var(--secundario);
    
}
  /* estilo del contenido de la barra del menu */
.navegacion-principal{
    /* FlexBox --> se utiliza para la alineacion o distribucion de elementos en estaran dentro de contenedores*/
    display: flex;
    flex-direction: column;
}

/* Responsive */
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}
/* estilos de letras del menu */
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
/* estilo de color de las letras del contenido del menu */
.navegacion-principal a:hover{
    background-color: var(--AzulOscuro);
    color: var(--blanco);
}
/* Estilo de columnas */
@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;    
    }
}

/* Estilo banner */
.banner{
    position: relative;
    width: 100%;
    height:calc(100vh - 50px);
    background-color:var(--grisclaro);
    background-size: cover;
    background-position:center;
    transition: all .1s ease-in-out;
    background-image: url('../img/ingrediente.jpg');
    animation: banner 28s infinite linear;  /*cada 7 seg cambia la imagen porque se divide 28s / 4 imagenes*/
}

.banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--Blanco);
    background-color:rgba(0,22,40,.6);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.banner-content a{
    text-decoration: none;
    color: var(--Blanco);
    padding: 9px 20px;
    border: 1px solid var(--Blanco);
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.banner-content a:hover{
    background-color: var(--Blanco);
    color: var(--grisOcsuro);
}
/* animacion banner */
@keyframes banner{
    /* primera imagen */
    0%{
        background-image: url('../img/ingrediente.jpg');
    }
    25%{
        background-image: url('../img/ingrediente.jpg');
    }

    /* Segunda imagen */
    26%{
        background-image: url('../img/ingrediente2.jpg');
    }
    50%{
        background-image: url('../img/ingrediente2.jpg');
    }

    /* Tercera imagen */
    51%{
        background-image: url('../img/ingrediente3.jpg');
    }
    75%{
        background-image: url('../img/ingrediente3.jpg');
    }

    /* Cuarta imagen */
    76%{
        background-image: url('../img/ingrediente4.jpg');
    }
    100%{
        background-image: url('../img/ingrediente4.jpg');
    }
}

/* Estilo de imagenes de contenido */
.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
/* Le quitamos el border a la ultima img */
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
/* Estilo btn leer entrada */
.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--Blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
/* Responsive btn para acomodar el elemento del btn */
@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}
.boton:hover{
    cursor: pointer;
}
/* color btn modificador btn primario */
.boton--primario{
    background-color: var(--Negro);
}
/*color btn modificador btn secundario */
.boton--secundario{
    background-color: var(--Primario);
}
/* Quita las viñetas */
.productos{
    list-style:none ;
}
.widget-producto{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-producto:last-of-type{
    border:none;
    margin-bottom: 0;
}
/* Estilo de label */
.widget-producto__label,
.producto__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-producto__info,
.producto__info{
    font-weight: normal;
}
.widget-producto__label,
.widget-producto__info,
.producto__label,
.producto__info{
    font-size: 2rem;
}
/* Estilo pie de pagina */
.footer{
    background-color: var(--grisclaro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}
.contenedor1{
    background-color: var(--grisOcsuro);
    text-align: center;
    color: var(--Blanco);
}
/* footer social icons */
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }

  .social-network a.iconinstagram:hover {
    background-color: #dd4b39
}

  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i, 
  .social-network a.iconinstagram:hover i {
    color: #fff;
  }
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  .social-network a {
    background-color: #F9F9F9;
  }

/* footer social icons */
    ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
    }
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }

    footer a {
        color: var(--Negro);
        font-size: 14px;
        transition-duration: 0.2s;
    }
    
    footer a:hover {
        color: var(--Rojo);
        text-decoration: none;
    }
/* Estilo Sobre Nosotros */
    @media (min-width: 768px) {
        .sobre-nosotros{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
        }
    }
/* Estilo producto */
    .producto{
        padding: 3rem 0;
        border-bottom: 1px solid var(--gris);
    }
    /* Responsive Producto */
    @media (min-width: 768px) {
        .producto{
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 2rem;
        }
    }
    .producto:last-of-type{
        border: none;
    }
    /* Estilo imagen de fondo Contacto */
    .contacto-bg{
        background-image: url(../img/contacto1.jpg);
        height: 40rem;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* Estilo formulario contacto */
    .formulario{
        background-color: var(--Blanco);
        margin: -5rem auto 0 auto;
        width: 95%;
        padding: 5rem;
    }
    .campo{
        display: flex;
        margin-bottom: 2rem;
    }
    .campo__label{
        flex: 0 0 9rem;
        text-align:right;
        padding-right: 2rem;
    }
    .campo__field{
        flex: 1;
        border: 1px solid var(--gris);
    }
    .campo__field--textarea{
        height: 20rem;
    }

/* estilo producto */
    @media (min-width:768px ) {
        .producto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        } 
    }
/* estilo formulario producto */
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .formulario__submit {
    background-color: var(--AzulClaro);
    border: none;
    font-size: 2rem;
    padding: 2rem;
    font-family: var(--fuente);
    transition: background-color .3s ease;
    grid-column: 1 / 3;
    /* transition: font-size .3s ease; animacion al tamaño del btn*/
  }
  /* estilo btn */
  .formulario__submit:hover {
    /* font-size: 2.4rem; */
    cursor: pointer;
    background-color: var(--grisOcsuro);
  }

    


